<template>
  <form
    class="inc-form"
    @submit.prevent="submitForm"
  >
    <h2>Jouw gegevens</h2>

    <div class="inc-form__group">
      <div class="inc-form__input inc-form__input--initials" :class="{ 'inc-form__input--error': $v.form.initials.$invalid && $v.form.initials.$dirty }">
        <label>Voorletters</label>
        <input v-model="$v.form.initials.$model" type="text" required />
      </div>

      <div class="inc-form__input inc-form__input--insertion">
        <label>Tussenvoegsel</label>
        <input v-model="form.insertion" placeholder="Optioneel" type="text" />
      </div>

      <div class="inc-form__input inc-form__input--lastname" :class="{ 'inc-form__input--error': $v.form.lastName.$invalid && $v.form.lastName.$dirty }">
        <label>Achternaam</label>
        <input v-model="$v.form.lastName.$model" type="text" required />
      </div>
    </div>

    <div class="inc-form__group">
      <div class="inc-form__input inc-form__input--email" :class="{ 'inc-form__input--error': $v.form.email.$invalid && $v.form.email.$dirty }">
        <label>E-mailadres</label>
        <input v-model="$v.form.email.$model" type="email" required />
      </div>
    </div>

    <transition name="fade">
      <ValidationMessage v-if="$v.form.email.$invalid && $v.form.email.$dirty">Het ingevulde e-mailadres is niet geldig.</ValidationMessage>
    </transition>

    <h2>Jouw adres</h2>

    <div class="inc-form__group">
      <div class="inc-form__input inc-form__input--postalcode" :class="{ 'inc-form__input--error': $v.form.postalCode.$invalid && $v.form.postalCode.$dirty }">
        <label>Postcode</label>
        <input v-model="$v.form.postalCode.$model" v-on:blur="onPostalCodeBlur(form.postalCode)" type="text" required />
      </div>

      <div class="inc-form__input inc-form__input--city">
        <label>Stad</label>
        <div class="inc-form__input-wrapper">
          <input v-model="$v.form.city.$model" type="text" disabled required>
          <transition name="fade">
            <Spinner v-if="isLookingUpPostalCode" />
          </transition>
        </div>
      </div>
    </div>

    <div class="inc-form__group">
      <div class="inc-form__input inc-form__input--street">
        <label>Straat</label>
        <div class="inc-form__input-wrapper">
          <input v-model="$v.form.street.$model" type="text" disabled required />
          <transition name="fade">
            <Spinner v-if="isLookingUpPostalCode" />
          </transition>
        </div>
      </div>

      <div class="inc-form__input inc-form__input--housenumber" :class="{ 'inc-form__input--error': $v.form.houseNumber.$invalid && $v.form.houseNumber.$dirty }">
        <label>Nummer</label>
        <input v-model="$v.form.houseNumber.$model" type="number" required />
      </div>
    </div>

    <transition name="fade">
      <ValidationMessage v-if="$v.form.postalCode.$invalid && $v.form.postalCode.$dirty">De ingevulde postcode is niet geldig.</ValidationMessage>
    </transition>

    <button class="inc-btn" :class="{ 'inc-btn--disabled': $v.$invalid }">Verstuur</button>
  </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import axios, { AxiosResponse } from 'axios';
import { Validations } from 'vuelidate-property-decorators';
import { required, email, numeric } from 'vuelidate/lib/validators';
import { postalCodeValidator } from '../validators/postalCode';

import { photonResponse } from '../types/photon';

import Spinner from './Spinner.vue';
import ValidationMessage from './ValidationMessage.vue';

interface IPostalCodeLookupResponse {
  street: string;
  city: string;
}

interface ISubmitResponse {
  message: string;
}

@Component({
  components: {
    Spinner,
    ValidationMessage,
  },
})
export default class IncentronautForm extends Vue {
  private form = {
    initials: '',
    insertion: '',
    lastName: '',
    postalCode: '',
    street: '',
    city: '',
    houseNumber: '',
    email: '',
  };

  private isLookingUpPostalCode = false;
  private isSubmittingForm = false;

  @Validations()
  private validations = {
    form: {
      initials: { required },
      lastName: { required },
      postalCode: { required, postalCodeValidator },
      street: { required },
      city: { required },
      houseNumber: { required, numeric },
      email: { required, email },
    },
  };

  private onPostalCodeBlur(postalCode: string) {
    this.form.street = '';
    this.form.city = '';

    if (postalCodeValidator(postalCode)) {
      this.checkPostalCode(postalCode).then((response: IPostalCodeLookupResponse) => {
        this.form.street = response.street;
        this.form.city = response.city;
      });
    }
  }

  private checkPostalCode(postalCode: string): Promise<IPostalCodeLookupResponse> {
    this.isLookingUpPostalCode = true;

    return axios.get(`http://photon.komoot.de/api/?q=${postalCode}`)
    .then((response: AxiosResponse<photonResponse>) => {
      this.isLookingUpPostalCode = false;

      return {
        street: response.data.features[0].properties.street || response.data.features[0].properties.name,
        city: response.data.features[0].properties.city,
      };
    });
  }

  private submitForm() {
    this.$v.$touch();
    if (!this.$v.$invalid) {
      this.isSubmittingForm = true;

      axios.post('http://mockbin.org/bin/b302993b-0c5b-46a2-a759-4574e5cb5542', this.form)
      .then((response: AxiosResponse<ISubmitResponse>) => {
        this.isSubmittingForm = false;
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.inc-form {
  margin-top: 80px;

  &__input {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;

    label {
      display: table;
      font-size: 12px;
    }

    .inc-spinner {
      position: absolute;
      top: 12px;
      right: 4px;
    }

    input {
      padding: 12px 0 6px;
      width: 100%;
      border: none;
      border-bottom: 1px solid black;

      &:disabled {
        background-color: #fff;
        cursor: not-allowed; 
        border-bottom-color: #efefef;
      }

      &:focus {
        outline: none;
      }

      &:invalid {
        box-shadow: none;
      }
    }

    &--initials, &--insertion {
      width: 25%;
    }

    &--lastname {
      width: 50%;
    }

    &--email, &--city, &--street {
      width: 75%;
    }
    
    &--error {
      label {
        color: #fe0000;
      }

      input {
        border-bottom: 1px solid #fe0000;
      }
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__group {
    position: relative;
    width: 100%;
    display: flex;
    margin: 20px -10px;

    .inc-form__input {
      margin: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .inc-btn {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .inc-form__group {
    display: block;

    .inc-form__input {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .inc-form__input {
    &--initials, &--insertion, &--lastname,
    &--email, &--city, &--street {
      width: 100%;
    }
  }
}

h2 {
  margin: 40px 0 30px;
}
</style>
