<template>
  <div class="inc-form__validation-msg">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ValidationMessage extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.inc-form__validation-msg {
  margin: 20px 0;
  color: #fe0000;
  font-size: 12px;
  text-align: left;
}
</style>
