<template>
  <div id="app" class="inc-page">
    <h1 class="inc-title">Welkom bij <span class="inc-accent">Incentro</span>!</h1>
    <p class="inc-description">We hebben nog wel een paar gegevens nodig.</p>
    <IncentronautForm />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import IncentronautForm from './components/IncentronautForm.vue';

@Component({
  components: {
    IncentronautForm,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Work+Sans');

$color-incentro: #fe5000;

.inc-page {
  padding-bottom: 60px;
  margin: 60px auto 0;
  max-width: 500px;
  color: #000;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.inc-btn {
  cursor: pointer;
  padding: 20px;
  color: $color-incentro;
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0px 0px 0px transparent;
  border: 2px solid;
  border-color: $color-incentro;
  border-radius: 2px;
  text-shadow: 0px 0px 0px transparent;
  transition: color .2s, background-color .2s, border-color .2s;

  &:hover {
    color: #fff;
    background-color: $color-incentro;
  }

  &--disabled {
    color: #cfcfcf;
    border-color: #cfcfcf;
    
    &:hover {
      color: #fff;
      background-color: #cfcfcf;
    }
  }
}

.inc-accent {
  color: $color-incentro;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 500px) {
  .inc-page {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
</style>
